.*
.*
_ui
*.log
*.pid
*.scss.ts
*.iml
*.log
*.pid
*.scss.ts
bower_components
coverage
dist
lib
node_modules
output
target
temp
yarn.lock
*.tgz
*.gz
*.zip
*.bz2

*.jar

__tmp

bower_components
coverage
dist
lib
node_modules
output
target
temp
yarn.lock

docs/_site
docs/Gemfile.lock
